.build-character-container {
    text-align: center;
    font-family: 'Skranji', serif;
    font-size: 1.25rem;
    color: #3b2f2f;
}

.ability-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ability-scores {
    /* display: flex;
    flex-direction: column;
    max-width: 100%; optional: limits the width so everything aligns */
    display: grid;
    grid-template-columns: 1fr 1fr; /* two equal columns */
    gap: 1rem;
}

.races-and-classes-select {
    flex: 1;
    background-color: #cbd5e1;
    width: 100%;
    padding: 0.5rem;
    font-family: 'Macondo';
    font-size: 2rem;
    border: 1px solid #cbb279;
    border-radius: 6px;
}

.races-and-classes-select:focus {
    outline: none;
    border-color: transparent;
}

.ability-scores-input {
    flex: 1;
    width: 100%;
    padding: 0.5rem;
    font-family: 'Macondo';
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #cbb279;
    background-color: #cbd5e1;
}

.choose-race-class-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.build-character-select {
    max-width: 100%;
    width: 400px;
    /* align-items: center; */
}