.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Macondo';
    text-align: center;
    background-color: #fef3c7;
    border: 3px solid #cbb279;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 700px;
    max-height: 50px;
    margin: 0 auto;
}
