.signup-container {
    max-width: 1000px;
    margin: 2rem auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-family: 'Skranji', serif;
    font-size: 1.25rem;
    color: #3b2f2f;
    background-color: #fef3c7;
    border: 2px solid #cbb279;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.signup-input {
    max-width: 1000px;
    width: 100%;
    padding: 0.75rem;
    font-family: 'Macondo';
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #cbb279;
    background-color: #cbd5e1;
  }
  