body {
    background-color: darkgrey;
}

.characterform-container {
    margin: 2rem auto;
    background-color: #fef3c7;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    max-width: 1000px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.appearance-form-group {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 1rem;
    max-width: 500px;
}

.form-group {
    align-items: center;
}

.full-width {
    grid-column: span 2;
}

label {
    font-family: 'Macondo';
    text-decoration: underline;
    margin-bottom: 0.25rem;
}

button {
    background-color: #8b5cf6;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    box-shadow: 0 4px #5b21b6;
    cursor: pointer;
    transition: all 0.1s ease;
}
  
button:hover {
    background-color: #7c3aed;
}
  
button:active {
    box-shadow: 0 2px #5b21b6;
    transform: translateY(2px);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fef3c7;
    border-bottom: 2px solid #fcd34d;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 700px;
    max-height: 50px;
    position: relative;
    left: 10%;
}

/* footer {
    position: relative;
    left: 10%;
} */
