.character-details-container {
    text-align: center;
    font-family: 'Skranji', serif;
    font-size: 1.25rem;
    color: #3b2f2f;
}

.character-details-alignment {
    flex: 1;
    background-color: #cbd5e1;
    width: 100%;
    padding: 0.5rem;
    font-family: 'Macondo';
    font-size: 2rem;
    border: 1px solid #cbb279;
    border-radius: 6px;
}

.character-details-input,
.character-details-select {
    flex: 1;
    width: 100%;
    padding: 0.5rem;
    font-family: 'Macondo';
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #cbb279;
    background-color: #cbd5e1;
}

.character-details-textarea {
    max-width: 100%;
    padding: 0.75rem;
    font-family: 'Macondo';
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #cbb279;
    background-color: #cbd5e1;
}


