.character-details-container {
    background-color: #fef3c7;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.full-width {
    grid-column: span 2;
}

.character-details-alignment {
    background-color: #cbd5e1;
    width: 300px;
    padding: 0.5rem;
    font-family: 'Macondo';
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    flex: 1;
}

.character-details-input,
.character-details-select,
.character-details-textarea {
    background-color: #cbd5e1;
    width: 300px;
    padding: 0.5rem;
    font-family: 'Macondo';
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    flex: 1;
}

label {
    font-family: 'Macondo';
    text-decoration: underline;
    margin-bottom: 0.25rem;
}

#character-details-header {
    text-align: center;
    font-family: 'Skranji';
}

