.spells-equipment-container {
    background-color: #fef3c7;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.spell-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
    padding: 0;
    list-style: none;
    margin-top: 1rem;
}

.spell-grid li {
    background-color: #fffef5;
    border: 1px solid #d4c191;
    padding: 0.5rem;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
  
ul {
    padding-left: 0;
}
  
.spells-and-equipment-input {
    max-width: 1460px;
    padding: 0.75rem;
    font-family: 'Macondo';
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #cbb279;
    background-color: #cbd5e1;
}

p {
    max-width: 1460px;
    padding: 0.75rem;
    font-family: 'Macondo';
    font-size: 1rem;
    font-family: 'Macondo';
}
  
.form-buttons {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}
  
.spells-and-equipment-header {
    text-align: center;
    font-family: 'Skranji';
}
  